# OS Generated
#=============================
.DS_Store
*~

# R
#=============================
.Rapp.history
.Rbuildignore
.Rhistory
.Rproj.user
*.RData
*.rda
# File Types
*.txt
*.pdf
*.ppt
*.png
*.png.*


# Directories
#=============================
BayesBook/
Rsafd/
Rsoft/data/
SVMKernel/
ape/
RLearning/MachineLearning/chapter*/*
images/
data/

