# OS Generated
#=============================
.DS_Store
*~


# R
#=============================
.Rapp.history
.Rhistory
*.RData
*.rda


# File Types
#=============================
*.txt
*.pdf
*.ppt
*.png
*.png.*


# Directories
#=============================
BayesBook/
Rsafd/
Rsoft/data/
SVMKernel/
ape/
RLearning/MachineLearning/chapter*/*
images/
data/
