export(bayes.lin.reg)
export(binobp)
export(binodp)
export(binogcp)
export(binomixp)
export(normdp)
export(normgcp)
export(normmixp)
export(normnp)
export(nvaricp)
export(poisdp)
export(poisgamp)
export(poisgcp)
export(sintegral)
export(sscsample)
export(xdesign)
